main {
  margin-bottom: 1rem;
  max-width: 50rem;
}

.edit-post-current-img {
  max-height: 20rem;
}

.table-form .table input {
  margin: .3rem 0;
}

.table-form button {
  margin-top: 1rem;
}

.choose-image {
  max-height: 400px;
  max-width: 500px;
  overflow-y: auto;
}

.choose-image ul {
  list-style: none;
  padding-left: 0;
}

.choose-image li {
  margin: 10px 0;
}

.choose-image img {
  max-width: 100px;
}
