{% macro post_article(post, overview, classes) %}
<article class="{{ classes }}">
  <header>
    <h1>
      {% if overview %}
      <a href="{{ url_for('public.view_post', post_id=post.id, slug=post.content.slug) }}" class="inverted-link">{{ post.content.title }}</a>
      {% endif %}
    </h1>
    {{ _('published') }}
    <time class="pubdate" datetime="{{ format_datetime(post.published, "yyyy-MM-ddTHH:mmZ") }}">
      {{ format_date(post.published, "dd MMMM yyyy") }}
    </time>
  </header>
  {% if post.image %}

  {% set img_class='post-image' %}

  {% if overview %}
  {% set img_class = img_class + ' truncate' %}
  {% endif %}

  <img class="{{ img_class }}"
      srcset="{{ image_dest() }}img600/{{ post.image }},
              {{ image_dest() }}img800/{{ post.image }} 1.5x,
              {{ image_dest() }}img1200/{{ post.image }} 2x"
      src="{{ image_dest() }}img600/{{ post.image }}"
      alt="">

  {% endif %}

  {{ post.content.html|safe }}
</article>
{% endmacro %}

{% macro event_article(event, overview, classes) %}
<article class="{{ classes }}">
  <header>
    <h1>
      {% if overview %}
      <a href="{{ url_for('public.view_post', post_id=event.id, slug=event.content.slug) }}" class="inverted-link">{{ event.content.title }}</a>
      {% endif %}
    </h1>
    {{ _('published') }}
    <time class="pubdate" datetime="{{ format_datetime(event.published, "yyyy-MM-ddTHH:mmZ") }}">
      {{ format_date(event.published, "dd MMMM yyyy") }}
    </time>
  </header>
  {% if event.image %}
  <a class="event-image" href="{{ image_dest() }}img1200/{{ event.image }}">
    <img srcset="{{ image_dest() }}img200/{{ event.image }},
                 {{ image_dest() }}img400/{{ event.image }} 2x"
         src="{{ image_dest() }}img200/{{ event.image }}"
         alt="">
  </a>
  {% endif %}

  {{ event.content.html|safe }}

  <dl class="event-detail">
    <dt>{{ _('time') }}:</dt>
    <dd>
      <time datetime="{{ format_datetime(event.content.start_time, "yyyy-MM-ddTHH:mmZ") }}">
        {{ format_datetime(event.content.start_time, "EEEE dd MMMM yyyy, HH:mm") }}
      </time>
    </dd>
    <dt>{{ _('place') }}:</dt>
    <dd><a href="{{ event.content.location_link }}">{{ event.content.location }}</a></dd>
  </dl>

</article>
{% endmacro %}

{% macro pager(pagination, prevnext=False) %}
<nav class="pager">
  <a class="left inverted-link{% if not pagination.has_prev %} hidden{% endif %}"
     href="{{ url_for_other_page(pagination.prev_num) }}">
    &larr; {{ _('newer') if not prevnext else _('next') }}
  </a>

  {% if pagination.page != 1 %}
  <a class="center inverted-link" href="{{ url_for_other_page(1) }}">
    {{ _('home') }}
  </a>
  {% endif %}

  <a class="right inverted-link{% if not pagination.has_next %} hidden{% endif %}"
     href="{{ url_for_other_page(pagination.next_num) }}">
    {{ _('older') if not prevnext else _('previous') }} &rarr;
  </a>
</nav>
{% endmacro %}

{% macro img(image, size, class) %}
<img {% if class %}class="{{ class }}"{% endif %} src="{{ image_dest() }}img{{ size }}/{{ image }}" alt="">
{% endmacro %}
