<!DOCTYPE html>
<html lang="{{ locale.get_locale() }}">
  <head>
    {% block head %}
    <title>{{ title }} | Kongl. Teknologkören</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

    <link rel="alternate" type="application/rss+xml" title="{{ _('news feed') }}" href="EDITME">

    {% if 'sv' in locale.get_locale() %}
    <link rel="alternate" hreflang="en" href="{{ url_for_lang(request.endpoint, 'en', request.view_args, _external=True) }}" />
    {% else %}
    <link rel="alternate" hreflang="sv" href="{{ url_for_lang(request.endpoint, 'sv', request.view_args, _external=True) }}" />
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{{ url_for('public.index') }}" class="inverted-link">
          <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
          <div class="logo-text">
            <div class="name">
              Kongl. Teknologkören
            </div>
            <p class="tagline">
              I takt &mdash; med tiden
            </p>
          </div>
        </a>
      </div>
      <nav class="nav">
        {% set active_page = active_page %}
        <ul>
          <li><a class="inverted-link" href="{{ url_for('public.index') }}">{{ _('nav-home') }}</a></li>
          <li><a class="inverted-link" href="{{ url_for('public.about_us') }}">{{ _('nav-about') }}</a></li>
          <li><a class="inverted-link" href="{{ url_for('public.events') }}">{{ _('nav-events') }}</a></li>
          <li><a class="inverted-link" href="{{ url_for('public.hire') }}">{{ _('nav-hire') }}</a></li>
          <li><a class="inverted-link" href="{{ url_for('public.apply') }}">{{ _('nav-apply') }}</a></li>
          <li><a class="inverted-link" href="#">{{ _('nav-contact') }}</a></li>
          <li>
            {% if locale.get_locale() == 'sv' %}
            <a id="lang" class="inline-icon inverted-link" href="{{ url_for_lang(request.endpoint, 'en', request.view_args) }}">
              <img src="{{ url_for('static', filename='images/lang_icon.png') }}" alt="{{ _('Change language') }}">English
            </a>
            {% else %}
            <a id="lang" class="inline-icon inverted-link" href="{{ url_for_lang(request.endpoint, 'sv', request.view_args) }}">
              <img src="{{ url_for('static', filename='images/lang_icon.png') }}" alt="{{ _('Change language') }}">Svenska
            </a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="flash {{ category }}">{{ message|safe }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% if cover_image %}
    <img srcset="/static/images/img600/{{ cover_image }} 600w,
                 /static/images/img1200/{{ cover_image }} 1200w,
                 /static/images/img1600/{{ cover_image }} 1600w"
         sizes="(min-width: 69em) 67em, 100vw"
         src="/static/images/img1200/{{ cover_image }}"
         class="cover-image"
         alt="">
    {% endif %}
    <main>
      {% block body %}{% endblock %}
    </main>
  </body>
  <footer>
    <div class="wrapper">
      <div class="dummy"></div>
      <img class="footer-img" src="{{ url_for('static', filename='images/logo.svg') }}" alt="">
      <div class="admin"><a href="#">{{ _('admin') }}</a></div>
    </div>
  </footer>
</html>
