{% macro post_article(post, overview, classes) %}
<article class="post {{ classes }}">
  <header>
    {% if overview %}
    <h2>
      <a href="{{ url_for('public.view_post', post_id=post.id, slug=post.slug) }}" class="inverted-link">{{ post.title }}</a>
    </h2>
    {% else %}
    <h1>
      {{ post.title }}
    </h1>
    {% endif %}
    <span class="published">
      {{ _('published') }}
      <time class="pubdate" datetime="{{ format_datetime(post.published, "yyyy-MM-ddTHH:mmZ") }}">
        {{ format_date(post.published, "dd MMMM yyyy") }}
      </time>
    </span>
  </header>
  {% if post.image %}

  {% if post.image.portrait %}

  {% set img_class='portrait-image' %}
  <img class="{{ img_class }}"
      srcset="{{ url_for_image(post.image.filename, 200) }},
              {{ url_for_image(post.image.filename, 400) }} 2x"
      src="{{ url_for_image(post.image.filename, 200) }}"
      alt="">

  {% else %}

  {% set img_class='landscape-image' %}

  {% if overview %}
  {% set img_class = img_class + ' truncate' %}
  {% endif %}

  <img class="{{ img_class }}"
      srcset="{{ url_for_image(post.image.filename, 600)  }},
              {{ url_for_image(post.image.filename, 800)  }} 1.5x,
              {{ url_for_image(post.image.filename, 1200) }} 2x"
      src="{{ url_for_image(post.image.filename, 600) }}"
      alt="">

  {% endif %}
  {% endif %}

  {% if overview %}
  {{ post.html(offset=3)|safe }}
  {% else %}
  {{ post.html()|safe }}
  {% endif %}
</article>
{% endmacro %}

{% macro event_article(event, overview, classes) %}
<article class="post event {{ classes }}">
  <header>
    {% if overview %}
    <h2>
      <a href="{{ url_for('public.view_event', event_id=event.id, slug=event.slug) }}" class="inverted-link">{{ event.title }}</a>
    </h2>
    {% else %}
    <h1>
      {{ event.title }}
    </h1>
    {% endif %}
    <span class="published">
      {{ _('published') }}
      <time class="pubdate" datetime="{{ format_datetime(event.published, "yyyy-MM-ddTHH:mmZ") }}">
        {{ format_date(event.published, "dd MMMM yyyy") }}
      </time>
    </span>
  </header>
  </header>
  {% if event.image %}

  {% if event.image.portrait %}

  {% set img_class='portrait-image' %}
  <a class="event-image" href="{{ url_for_image(event.image.filename, 1200) }}">
    <img class="{{ img_class }}"
        srcset="{{ url_for_image(event.image.filename, 200) }},
                {{ url_for_image(event.image.filename, 400) }} 2x"
        src="{{ url_for_image(event.image.filename, 200) }}"
        alt="">
  </a>

  {% else %}

  {% set img_class='landscape-image' %}

  {% if overview %}
  {% set img_class = img_class + ' truncate' %}
  {% endif %}

  <img class="{{ img_class }}"
      srcset="{{ url_for_image(event.image.filename, 600)  }},
              {{ url_for_image(event.image.filename, 800)  }} 1.5x,
              {{ url_for_image(event.image.filename, 1200) }} 2x"
      src="{{ url_for_image(event.image.filename, 600) }}"
      alt="">

  {% endif %}
  {% endif %}

  {% if overview %}
  {{ event.html(offset=3)|safe }}
  {% else %}
  {{ event.html()|safe }}
  {% endif %}

  <dl class="event-detail">
    <dt>{{ _('time') }}:</dt>
    <dd>
      <time{% if event.time_text %}class="hidden"{% endif %} datetime="{{ format_datetime(event.start_time, "yyyy-MM-ddTHH:mmZ") }}">
        {{ format_datetime(event.start_time, "EEEE dd MMMM yyyy, HH:mm") }}
      </time>
      {% if event.time_text %}
      {{ event.time_html|safe }}
      {% endif %}
    </dd>
    <dt>{{ _('place') }}:</dt>
    <dd><a href="{{ event.location_link }}">{{ event.location }}</a></dd>
  </dl>

</article>
{% endmacro %}

{% macro pager(pagination, prevnext=False) %}
<div class="pager">
  <a class="left inverted-link{% if not pagination.has_prev %} hidden{% endif %}"
     href="{{ url_for_other_page(pagination.prev_num) }}">
    &larr; {{ _('newer') if not prevnext else _('next') }}
  </a>

  {% if pagination.page != 1 %}
  <a class="center inverted-link" href="{{ url_for_other_page(1) }}">
    {{ _('home') }}
  </a>
  {% endif %}

  <a class="right inverted-link{% if not pagination.has_next %} hidden{% endif %}"
     href="{{ url_for_other_page(pagination.next_num) }}">
    {{ _('older') if not prevnext else _('previous') }} &rarr;
  </a>
</div>
{% endmacro %}

{% macro img(image, size, class) %}
<img {% if class %}class="{{ class }}"{% endif %} src="{{ image_dest() }}img{{ size }}/{{ image }}" alt="">
{% endmacro %}
