{% extends "admin/base.html" %}

{% from "macros.html" import form_entry, form_entry_row %}

{% block body %}

<h1>Admin</h1>

<h2>Händelse</h2>
<form method="POST">
  {{ form.csrf_token }}

  <div>
    <h3>Svenska</h3>
    {{ form_entry(form.title_sv) }}
    {{ form_entry(form.text_sv) }}
    {{ form_entry(form.time_text_sv) }}
    {{ form_entry(form.location_sv) }}
  </div>

  <div>
    <h3>Engelska</h3>
    {{ form_entry(form.title_en) }}
    {{ form_entry(form.text_en) }}
    {{ form_entry(form.time_text_en) }}
    {{ form_entry(form.location_en) }}
  </div>

  <div>
    <h3>Språklöst</h3>
    {{ form_entry(form.start_time) }}
    {{ form_entry(form.location_link) }}
    {{ form_entry(form.published) }}
  </div>

  <div class="form-field">
    <button>{{ _("submit") }}</button>
  </div>
</form>

{% endblock %}
