* {
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word; /* legacy */
  word-break: break-word; /* for WebKit/Chrome */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

a {
  color: #316bb1;
}

a:hover {
  color: #000;
}

.inverted-link {
  color: #000
}

.inverted-link:hover {
  color: #316bb1;
}

.pageheader {
  margin: 0 auto;
  padding: .5rem;
}

.logo {
    text-align: center;
    margin: .5rem;
    text-decoration: none;
}

.logo a {
    text-decoration: none;
}

.logo img {
    height: 5rem;
}

.logo-text .name {
    margin: 0;
    line-height: 1.5;
    font-size: 1.8em;
}

.logo .tagline {
    margin: 0;
}

@media screen and (min-width: 26rem) {
    .logo img,
    .logo-text {
        display: inline-block;
        vertical-align: middle;
    }

    .logo-text {
        text-align: left;
        margin-left: .5rem;
    }
}

.nav {
  margin-top: .5rem;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.nav li {
  padding: .3rem 1rem;
}

.pager {
  display: flex;
  justify-content: space-between;
}

.pager .hidden {
  visibility: hidden;
}

.inline-icon img {
  width: 1rem;
  margin-right: .25rem;
  vertical-align: text-bottom;
}

.cover-image {
  margin-top: 2rem;
}

@media screen and (min-width: 69em) {
  .cover-image {
    width: 67em;
    border-radius: 10px;
    margin: 2rem auto;
  }
}

main {
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: auto;
  padding: 0 .5rem;
}

footer {
  padding-top: 1rem;
  margin: 2rem 1rem 1rem 1rem;
  border-top: 1px solid #ddd;
}

footer .wrapper {
  margin: 0 auto;
  max-width: 40rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer .footer-img {
  max-width: 3rem;
  opacity: 0.7;
}

footer .admin {
  flex: 1;
  text-align: right;
}

footer .dummy {
  flex: 1;
}

footer .admin a {
  color: #bbb;
}
