<!DOCTYPE html>
<html lang="{{ locale.get_locale() }}">
  <head>
    {% block head %}
    <title>{{ title }} | Kongl. Adminsidorna</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {# admin.css after style.css to allow override of rules #}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    {% endblock %}
  </head>
  <body>
    <nav class="nav">
      <ul>
        <li><a class="inverted-link" href="{{ url_for('admin.index') }}">Till start</a></li>
      </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
      <li class="flash {{ category }}">{{ message|safe }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <main>
      {% block body %}{% endblock %}
    </main>
    <script src="{{ url_for('static', filename='js/confirmDialog.js') }}"></script>
  </body>
</html>
