{% extends "admin/base.html" %}

{% from "macros.html" import form_entry, form_entry_row %}

{% block body %}

<h1>Admin</h1>

<h2>Konfiguration</h2>
<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}

  <div>
    <h3>Bild på framsidan</h3>
    {{ form.frontpage_image.csrf_token }}
    {% if config.image %}
    <p>Nuvarande bild:</p>
    <img class="edit-post-current-img" src="{{ url_for_image(config.image.filename, 400) }}" alt="">
    {% endif %}
    {{ form_entry(form.frontpage_image.image) }}
  </div>

  <h3>Flash på framsidan</h3>
  {{ form_entry(form.flash) }}
  {{ form_entry(form.flash_type) }}

  <div class="form-field">
    <button>{{ _("submit") }}</button>
  </div>
</form>

{% endblock %}
