{% extends "admin/base.html" %}

{% set title = "Kontakter" %}

{% macro required() %}<span class="required">*</span>{% endmacro %}

{% block body %}

<h1>Admin</h1>

<h2>Kontakter</h2>

<p>
  Endast Ordförandes telefonnummer syns på hemsidan och Ordförande måste ha
  titeln "Ordförande" för att det ska funka. Om Ordförande inte har ett giltigt
  telefonnummer (om det saknas, är för kort, eller på annat sätt är ogiltigt)
  så göms raden om att ringa ordf. Om numret saknar landskod (+46 för Sverige)
  så antas numret vara svenskt och formateras med landskod ändå. Om numret är
  utländskt <strong>måste</strong> landskod vara med (annars blir det svårt för
  folk i Sverige att ringa det i vilket fall).
</p>
<p>
  Högre sorteringsvikt stiger.
</p>

<form class="table-form" method="POST">
  {{ form.csrf_token }}
  <div class="table">
    <table>
      <tr>
        <th>Titel {{ required() }}</th>
        <th>Namn {{ required() }}</th>
        <th>E-postadress {{ required() }}</th>
        <th>Telefonnummer</th>
        <th>Sorteringsvikt {{ required() }}</th>
        <th>Ta bort</th>
      </tr>
      {% for contact_form in form if not contact_form.name == 'csrf_token' %}
      <tr>
        <td>
          {{ contact_form.form.csrf_token }}
          {{ contact_form.form.title }}
        </td>
        <td>{{ contact_form.form.name }}</td>
        <td>{{ contact_form.form.email }}</td>
        <td>{{ contact_form.form.phone }}</td>
        <td>{{ contact_form.form.weight }}</td>
        {% if contact_form.name != 'new-contact' %}
          <td>{{ contact_form.form.delete }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
  <button type="submit">Spara</button>
</form>

{% endblock %}
