{% extends "admin/base.html" %}

{% from "macros.html" import form_entry, form_entry_row %}

{% block body %}

<h1>Admin</h1>

<h2>Kontakter</h2>
<form method="POST">
  {{ form.csrf_token }}

  {{ form_entry(form.title) }}
  {{ form_entry(form.first_name) }}
  {{ form_entry(form.last_name) }}
  {{ form_entry(form.email) }}
  {{ form_entry(form.phone) }}
  {{ form_entry(form.weight) }}

  {% if contact %}
  <p><a class="confirm" href="{{ url_for('admin.delete_contact', contact_id=contact.id) }}">Ta bort kontakt</a></p>
  {% endif %}

  <div class="form-field">
    <button>Spara</button> | <a href="{{ url_for('admin.contacts') }}">Avbryt</a>
  </div>
</form>

{% endblock %}
