{% extends "admin/base.html" %}

{% from "macros.html" import form_entry, form_entry_row %}

{% block body %}

<h1>Admin</h1>

<h2>Händelse</h2>
<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}

  <div>
    <h3>Bild</h3>
    {% if event and event.image %}
    <p>Nuvarande bild:</p>
    <img class="edit-post-current-img" src="{{ url_for_image(event.image.filename, 400) }}" alt="">
    {% endif %}
    {{ form_entry(form.image) }}
    {{ form_entry(form.portrait) }}
  </div>

  <div>
    <h3>Svenska</h3>
    {{ form_entry(form.title_sv) }}
    {{ form_entry(form.text_sv) }}
    {{ form_entry(form.time_text_sv) }}
    {{ form_entry(form.location_sv) }}
  </div>

  <div>
    <h3>Engelska</h3>
    {{ form_entry(form.title_en) }}
    {{ form_entry(form.text_en) }}
    {{ form_entry(form.time_text_en) }}
    {{ form_entry(form.location_en) }}
  </div>

  <div>
    <h3>Meta</h3>
    {{ form_entry(form.start_time) }}
    {{ form_entry(form.location_link) }}
    {{ form_entry(form.published) }}
  </div>

  <div class="form-field">
    <button>{{ _("submit") }}</button>
  </div>
</form>

{% endblock %}
