{% extends "admin/base.html" %}

{% set title = "Framsidan" %}

{% from "macros.html" import form_entry, form_entry_row %}

{% block body %}

<h1>Framsidan</h1>
<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}

  <div>
    <h2>Bild</h2>
    {{ form.frontpage_image.csrf_token }}
    {% if config.frontpage_image %}
    <p>Nuvarande bild:</p>
    <img class="edit-post-current-img" src="{{ url_for_image(config.frontpage_image.filename, 400) }}" alt="">
    {% endif %}
    {{ form_entry(form.frontpage_image.image) }}
  </div>

  <h2>Flash</h2>

  <p>Om endast ett av språken är ifyllt visas det oavsett språkval.</p>


  {{ form_entry(form.flash_sv) }}
  {{ form_entry(form.flash_en) }}
  {{ form_entry(form.flash_type) }}

  <ul class="flashes">
    <li class="flash success">Grön flash ("success")</li>
    <li class="flash warning">Gul flash ("warning")</li>
    <li class="flash error">Röd flash ("error")</li>
    <li class="flash info">Blå flash ("info")</li>
  </ul>

  <div class="form-field">
    <button>Spara</button> | <a href="{{ url_for('admin.index') }}">Avbryt</a>
  </div>
</form>

{% endblock %}
