{% extends "admin/base.html" %}

{% from "macros.html" import form_entry, form_entry_row %}

{% block body %}

<h1>Admin</h1>

<h2>teknologkoren.se/{{ page.path }}</h2>
<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}

  <div>
    <h3>Bild</h3>
    {% if page and page.image %}
    <p>Nuvarande bild:</p>
    <img class="edit-post-current-img" src="{{ url_for_image(page.image.filename, 400) }}" alt="">
    {% endif %}
    {{ form_entry(form.image) }}
  </div>

  <div>
    <h3>Svenska</h3>
    {{ form_entry(form.text_sv, cols=60, rows=20) }}
  </div>

  <div>
    <h3>Engelska</h3>
    {{ form_entry(form.text_en, cols=60, rows=20) }}
  </div>

  <div class="form-field">
    <button>{{ _("submit") }}</button>
  </div>
</form>

{% endblock %}
