{% extends "admin/base.html" %}

{% from "macros.html" import form_entry, form_entry_row %}

{% block body %}

<h1>Admin</h1>

<h2>Inlägg</h2>
<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}

  {{ form_entry(form.published) }}

  <div>
    <h3>Bild</h3>
    {% if post and post.image %}
    <p>Nuvarande bild:</p>
    <img class="edit-post-current-img" src="{{ url_for_image(post.image.filename, 400) }}" alt="">
    {% endif %}
    {{ form_entry(form.image) }}
    {{ form_entry(form.portrait) }}
  </div>

  <div>
    <h3>Svenska</h3>
    {{ form_entry(form.title_sv) }}
    {{ form_entry(form.text_sv, cols=60, rows=10) }}
  </div>

  <div>
    <h3>Engelska</h3>
    {{ form_entry(form.title_en) }}
    {{ form_entry(form.text_en, cols=60, rows=10) }}
  </div>

  <div class="form-field">
    <button>Spara</button> | <a href="{{ url_for('admin.delete_post', post_id=post.id) }}">Ta bort</a>
  </div>
</form>

{% endblock %}
