{% extends "admin/base.html" %}

{% set title = "Redigera inlägg" %}

{% from "macros.html" import choose_image, form_entry, form_entry_row %}

{% block body %}

<h1>Inlägg</h1>
<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}

  {{ form_entry(form.published) }}

  <div>
    <h2>Bild</h2>
    {% if post and post.image %}
    <p>Nuvarande bild:</p>
    <img class="edit-post-current-img" src="{{ url_for_image(post.image.filename, 400) }}" alt="">
    {% endif %}
    {{ form_entry(form.image) }}
    {{ form_entry_row(form.portrait) }}
    {{ choose_image(form.choose_image) }}
  </div>

  <div>
    <h2>Svenska</h2>
    {{ form_entry(form.title_sv) }}
    {{ form_entry(form.text_sv, cols=60, rows=10) }}
  </div>

  <div>
    <h2>Engelska</h2>
    {{ form_entry(form.title_en) }}
    {{ form_entry(form.text_en, cols=60, rows=10) }}
  </div>

  {% if post and post.id %}<p><a class="confirm" href="{{ url_for('admin.delete_post', post_id=post.id) }}">Ta bort</a></p>{% endif %}

  <div class="form-field">
    <button>Spara</button> | <a href="{{ url_for('admin.index') }}">Avbryt</a>
  </div>
</form>

{% endblock %}
