{% extends "admin/base.html" %}

{% set title = "Användare" %}

{% block body %}

<h1>Användare</h1>

<p>
Du kan inte ta bort den användare du är inloggad med, en annan användare
måste alltså ta bort den. Detta försäkrar att det alltid finns en användare
som kan logga in.
</p>

<form class="table-form" method="POST">
  {{ form.csrf_token }}
  <div class="table">
    <table>
      <tr>
        <th>Användarnamn</th>
        <th>Nytt lösenord (minst 8 tecken)</th>
        <th>Ta bort</th>
      </tr>
      {% for user_form in form if not user_form.name == 'csrf_token' %}
      <tr>
        <td>
          {{ user_form.csrf_token }}
          {{ user_form.username }}
        </td>
        <td>{{ user_form.password }}</td>
        <td>
          {% if user_form.name != 'new-user' %}
            {% if user_form.username.data == current_user.username %}
              {{ user_form.delete(disabled=True) }}
            {% else %}
              {{ user_form.delete }}
            {% endif %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
  <button type="submit">Spara</button>
</form>

{% endblock %}
